<!-- farmer-view-produce-on-hand.handlebars -->

<!-- table view that queries database and displays current produce -->

<div class="container-lg">
    <h5 class="mx-4">Produce on hand:</h5>

<div class="card text-center bg-green m-3" style="width: auto;">
    <div class="card-body">
            <div class="form-group row">
                <label for="sort-by" style="text-align: right;" class="col-sm-8 col-form-label">Sort By:</label>
                <div class="col-sm-4">
                    <select class="form-control" id="sort-by">
                        <option>-select-</option>
                        <option>Harvest Date</option>
                        <option>Expiration Date</option>
                        <option>Crop Type</option>
                    </select>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-light">
                    <thead class="thead-light">
                        <th>Crop Type:</th>
                        <th>Qty:</th>
                        <th>Harvest Date:</th>
                        <th>Expiration Date:</th>
                    </thead>
                    <tbody>
                        {{#each harvests}}
                        <tr>
                            <td hidden name="harvest_id">{{this.row_id}}</td>
                            {{#if nulled}}
                            <td name="crop_name">NULL</td>
                            {{else}}
                            <td name="crop_name">{{this.crop_name}}</td>
                            {{/if}}
                            <td name="quantity">{{this.quantity_harvested}}</td>
                            <td name="harvest_date">{{this.harvest_date}}</td>
                            <td name="expiration_date">{{this.expiration_date}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/source/js/sort_produce.js" charset="utf-8" id="sort_handler"></script>
